body {
    font-family: "Franklin Gothic Book";
}

h1 {
    font-weight: 400;
    font-size: 30px;
    color: black;
}

h2 {
    font-weight: 400;
    font-size: 18px;
    color: black;
}

.textbox {
    margin: 50px;
}

.banner {
    font-family: "Franklin Gothic Book";
    font-size: 14px;
    text-align: center;
    background-color: gray;
    font-weight: 400;
    color: white;
    padding-top: 5px;
    padding-bottom: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* footer */

.footer {
    text-align: center;
    background-color: red;
    font-weight: 400;
    color: white;
    margin-top:15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
}

/* color & format nav header and footer */

nav {
    font-family: "Franklin Gothic Book";
    font-weight: 400;
    font-size: 18px;
    color: black;
}

nav a {
    color: black;
}

/* Choropleth */


#mapControls {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right:30px;
}

 .select path {
     fill: gray;
     stroke: #D3D3D3;
 }

 .states {
     cursor: pointer;
 }

 .states.active {
     fill: orange;
 }

.states path {
    fill: gray;
    stroke: #424242;
}

.statesLine {
    stroke: #424242;
    fill: none;
}
.nation path {
    fill: none;
    stroke: black;
}

#legend {
    padding: 1.5em 0 0 1.5em;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 50px;
    padding: 2px;
    font-size: 14px;
    background: #fddbc7;
    border: 1px;
    border-radius: 8px;
    pointer-events: none;
    font-family: 'Roboto', sans-serif;
}

#title {
    font-weight: bold;
}

.background {
    fill: none;
    pointer-events: all;
}

/* Scatter Plot */

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}