body {
    font-family: "Franklin Gothic Book";
}

p {
    font-size: 16px;
}

h1 {
    font-weight: 400;
    font-size: 30px;
    color: #424242;
}

h2 {
    font-weight: 400;
    font-size: 18px;
    color: black;
}

.section {
    border-bottom: solid;
    margin: 30px;
}

.textbox {
    margin: 50px;
}

.banner {
    font-family: "Franklin Gothic Book";
    font-size: 14px;
    text-align: center;
    background-color: gray;
    font-weight: 400;
    color: white;
    padding-top: 5px;
    padding-bottom: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* footer */

.footer {
    text-align: center;
    background-color: red;
    font-weight: 400;
    color: white;
    margin-top:15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
}

/* color & format nav header and footer */

nav {
    font-family: "Franklin Gothic Book";
    font-weight: 400;
    font-size: 18px;
    color: black;
}

nav a {
    color: black;
}

/* Choropleth */

.svg-container-choro {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 62%;
    vertical-align: middle;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

#mapControls {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right:30px;
}

.overlay {
    fill: none;
    pointer-events: all;
}

 .select path {
     fill: gray;
     stroke: #D3D3D3;
 }

.statesFill path {
    fill: #d3d3d3;
    stroke: #424242;
}

.statesLine {
    stroke: #424242;
    fill: none;
    stroke-width: .5px;
}
.nation path {
    fill: none;
    stroke: black;
}

#legend {
    padding: 1.5em 0 0 1.5em;
}

#masterMap {
    border-right: solid;
    margin: 5px;
    border-width: 3px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font-size: 12px;
    background: #fafafa;
    border: 1px;
    border-radius: 8px;
    pointer-events: none;
    max-width: none;
    white-space: nowrap;
}

#title {
    font-weight: bold;
}

.background {
    fill: none;
    pointer-events: all;
}

/* Scatter Plot */

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

/* Tree Map */

.svg-container-tree {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 45%;
    vertical-align: middle;
    overflow: hidden;
}

.title {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
}

text {
    pointer-events: none;
}

.grandparent text {
    font-weight: bold;
}

rect {
    fill: none;
    stroke: #fff;
}

rect.parent,
.grandparent rect {
    stroke-width: 2px;
}

.grandparent rect {
    fill: orange;
}

.grandparent:hover rect {
    fill: #ee9700;
}

.children rect.parent,
.grandparent rect {
    cursor: pointer;
}

rect.parent {
    pointer-events: all;
}

.children:hover rect.child {
    fill: #aaa;
}